<div class="container-fluid p-0 my-md-4">
    <!-- Title -->
    <div class="d-flex justify-content-center align-items-center mx-4">
        <h3 class="primary-text">Transactions</h3>
    </div>
    <hr class=" mb-4">
    <!-- Search Bar for Mobile View -->
    <div class="d-block d-md-none mx-4 mb-3">
        <div class="input-group rounded-4">
            <span class="input-group-text py-0">
                <fa-icon class="text-muted" [icon]="faSearch"></fa-icon>
            </span>
            <input type="text" class="form-control form-control-sm" placeholder="Search" name="search"
                [(ngModel)]="search" (ngModelChange)="searchData()" />
        </div>
    </div>

    <!-- Filters (Tabs) -->
    <ul class="nav nav-tabs pt-2 mb-3 p-0">
        <li class="nav-item ms-4">
            <a class="nav-link" href="#" [ngClass]="{'active bg-light': selectedFilter === 'All'}"
                (click)="filterTransactions('All', $event)">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active bg-light': selectedFilter === 'Completed'}"
                (click)="filterTransactions('Completed', $event)">Completed</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active bg-light': selectedFilter === 'Pending'}"
                (click)="filterTransactions('Pending', $event)">Pending</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" [ngClass]="{'active bg-light': selectedFilter === 'Failed'}"
                (click)="filterTransactions('Failed', $event)">Failed</a>
        </li>
        <li class="nav-item ms-auto w-25 me-4 d-none d-md-block">
            <div class="input-group rounded-4">
                <span class="input-group-text py-0">
                    <fa-icon class="text-muted" [icon]="faSearch"></fa-icon>
                </span>
                <input type="text" class="form-control form-control-sm" placeholder="Search" name="search"
                    [(ngModel)]="search" (ngModelChange)="searchData()" />
            </div>
        </li>
    </ul>

    <!-- Table -->
    <div class="table-responsive mx-4 mb-4 border border-muted rounded-4">
        <table class="table table-hover align-middle m-0">
            <thead class="bg-secondary">
                <tr>
                    <th class="bg-body-secondary">ID</th>
                    <th class="bg-body-secondary">Created Date</th>
                    <th class="bg-body-secondary">Modified Date</th>
                    <th class="bg-body-secondary">Description</th>
                    <th class="bg-body-secondary">Amount</th>
                    <th class="bg-body-secondary">Status</th>
                    <th class="bg-body-secondary">Remarks</th>
                    <th class="bg-body-secondary">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of paginatedTransactions">
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.createdDate | date: 'yyyy-MM-dd' }}</td>
                    <td>{{ transaction.lastModifiedDate | date: 'yyyy-MM-dd' }}</td>
                    <td class="table-description text-muted text-truncate">{{ transaction.description }}</td>
                    <td
                        [ngClass]="{'text-success fw-bold': transaction.amount > 0, 'text-danger': transaction.amount < 0}">
                        {{ transaction.amount | number:'.2' }}
                    </td>
                    <td>
                        <span class="badge rounded-4 px-3" [ngClass]="{
                  'bg-success': transaction.status === 'Completed',
                  'bg-dark-subtle': transaction.status === 'Pending',
                  'bg-danger': transaction.status === 'Failed'
                }">
                            {{ transaction.status }}
                        </span>
                    </td>
                    <td class="table-remarks text-muted text-truncate">{{ transaction.remarks }}</td>
                    <td>
                        <button class="btn btn-details btn-sm">Details</button>
                    </td>
                </tr>
                <tr *ngIf="paginatedTransactions.length == 0">
                    <td colspan="7" class="text-center p-0">
                        <div class="alert m-0">No transactions found.</div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center p-0">
                        <mat-paginator *ngIf="filteredTransactions.length" [pageSize]="pageSize"
                            [pageSizeOptions]="pageSizeOptions" [length]="filteredTransactions.length"
                            (page)="pageEvent = $event">
                        </mat-paginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- Pagination Controls -->

</div>