.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--primary-color);
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
}

.lighter-bg {
    color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
}

@media screen and (min-width:600px) and (max-width: 1000px) {
    .card {
        width: 70%;
    }
}

@media screen and (min-width:1000px) and (max-width: 1200px) {
    .card {
        width: 60%;
    }
}

@media screen and (min-width:1200px) {
    .card {
        width: 50%;
    }
}